<h3 class="mt-3">Приложение "BOCHATNIKOV0950"</h3>
<p class="mt-3">Всем еще раз привет! Это уже мое второе приложение, но все равно не судите строго, я старался)</p>
<button class="btn btn-primary btn-lg btn-block mt-1" type="button" [routerLink]="'/product'">
    Продукты
</button>
<h5 class="mt-3">Описание(Lorem ipsum):</h5>
<p class="mt-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nemo alias distinctio libero possimus delectus rem
    inventore quod ipsum sit perferendis molestiae aut cupiditate placeat accusamus, molestias eum. Facilis minima sit
    corrupti blanditiis iure! Inventore facere ipsa nihil voluptatem laudantium veritatis provident minima dolorem,
    officiis delectus veniam aliquam asperiores voluptate ab sit quam non fugit, ullam magni doloribus ut voluptas
    dignissimos rem. Alias fugiat quod non facilis repudiandae ex nemo quae perferendis obcaecati, molestias cum magni
    aliquid! Impedit labore possimus, in culpa itaque excepturi atque ducimus omnis quis! Dignissimos ratione earum,
    blanditiis distinctio voluptatum maxime officiis. Esse facere possimus nobis.
</p>